body{
    background-color: #839099;
}
nav{
    background-color: #941d1d;
}
.navbar{
    min-height: 50px;
}
footer{
    background-color: #941d1d;
    clear: both;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    z-index: 9999;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color:aliceblue;
}
#rightBottoms{
    float: right;
}
.navbar-nav {
    float: right;
}
.nav-item{
    font-size: 25px;
    font-weight: 700;
}
#main{
    background-image: url(map_one.PNG);
    height: 90vh;
}
#map{
    height: 90vh;
}
.nav-item:hover{
    cursor: pointer;
    color:  aliceblue !important;
}